@model AgeOfColony.Models.HarvestBuilding

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HarvestBuilding</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaxStorage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxStorage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HarvestTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HarvestTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HarvestQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HarvestQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentPeople)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxPeople)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
