<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nom de l'application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
            <li>@Html.ActionLink("CollectedResources", "Index", "CollectedResources", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Games", "Index", "Games", new { area = "" }, null)</li>
            <li>@Html.ActionLink("LevelRequirements", "Index", "LevelRequirements", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Players", "Index", "Players", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Resources", "Index", "Resources", new { area = "" }, null)</li>
            <li>@Html.ActionLink("RareResources", "Index", "RareResources", new { area = "" }, null)</li>
        </ul>
                <!-- Split button -->
                <div class="btn-group">
                    <!-- here is the asp.net button to make post back -->
                    @*<asp:Button ID="Button1" runat="server" Text="OUIIIIIIIIII"/>*@
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("HarvestBuildings", "Index", "HarvestBuildings", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("MainBuildings", "Index", "MainBuildings", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("StorageBuildings", "Index", "StorageBuildings", new { area = "" }, null)</li>
                    </ul>
                </div>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
